:root{
    --bg-primary: #f7f1f1;
    --bg-secondary: #ecf0f1;
    --hero-bg: #cde8df;
    --primary-color: aquamarine;
    --hover-secondary: #81ecec;
    --primary-text-color: black;
    --hover-text-color: #34495e;
    --input-bg: #dbede7;
    --middle-color: #358b6e;
}