:root{
    --bg-primary: #f7f1f1;
    --bg-secondary: #ecf0f1;
    --hero-bg: #dcd9e9;
    --primary-color: #341f97;
    --hover-secondary: #5f27cd;
    --primary-text-color: wheat;
    --hover-text-color: #bdc3c7;
    --input-bg: #e0dcf4;
    --middle-color: #5c5480;
}