:root{
    --bg-primary: #f7f1f1;
    --bg-secondary: #ecf0f1;
    --hero-bg: #c5eccd;
    --primary-color: #78e08f;
    --hover-secondary: #b8e994;
    --primary-text-color: black;
    --hover-text-color: #485737;
    --input-bg: #d2eed8;
    --middle-color: #358b6e;
}