:root{
    --bg-primary: #f7f1f1;
    --bg-secondary: #ecf0f1;
    --hero-bg: #bee9e1;
    --primary-color: #00b894;
    --hover-secondary: #55efc4;
    --primary-text-color: black;
    --hover-text-color: #34495e;
    --input-bg: #dbefeb;
    --middle-color: #506863;
}