:root{
    --bg-primary: #f7f1f1;
    --bg-secondary: #ecf0f1;
    --hero-bg: #e8deda;
    --primary-color: #f19066;
    --hover-secondary: #f3a683;
    --primary-text-color: black;
    --hover-text-color: #34495e;
    --input-bg: #eadfda;
    --middle-color: #835c4b;
}